{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo-nofondo.png' %}?v=2" type="image/png">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block title %}
    <title>Gallery Guide</title>
    {% endblock title %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary py-3">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'images/logo-negativo.png' %}?v=2" alt="Gallery Guide" class="img-fluid">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/museos/' %}active{% endif %}" href="/museos/">Museos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/autores/' %}active{% endif %}" href="/autores/">Autores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/movimientos/' %}active{% endif %}" href="/movimientos/">Movimientos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/rutas/' %}active{% endif %}" href="/rutas/">Explora Rutas</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == '/mis-rutas/' %}active{% endif %}" href="/mis-rutas/">Mis Rutas</a>
            </li>
            {% endif %}
          </ul>
          <div class="auth-buttons d-flex align-items-center">
            {% if user.is_authenticated %}
              <span class="user-welcome text-white">Bienvenido, {{ user.username }}</span>
              <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light">Cerrar sesión</button>
              </form>
            {% else %}
              <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Iniciar sesión</a>
              <a href="{% url 'registro' %}" class="btn btn-outline-light">Registrarse</a>
            {% endif %}
          </div>          
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>